.chat
  .chat__group
    .chat-contents
      .name
        = @group.name
      .members
        Members: member1 member2
    = link_to "EDIT",edit_group_path(@group),class:"edit_button"

  %hr
  = render @messages
  .chat__form
    = form_for [@group,@message] do |f|
      = f.text_field :body,class: 'text', placeholder: 'type a message'
      = f.submit class: 'button',value: "SEND"
      = f.label :image do
        = fa_icon "image",class: 'send-icon'
        = f.file_field :image, class: 'hidden'





