.message(data-message-id='#{message.id}')
  %span.user_name
    = message.user.name
  %span.created_at
    = message.created_at.to_s(:datetime)
  .body
    = message.body
  .message_image
    = image_tag message.image if message.image.present?
